/* <<<<<<<<<<*Default_Css*>>>>>>>>>> */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
.fixed-width, .container{
    max-width: 1100px;
    margin: auto;
}

/* Google_Fonts */
body,h1,h2,h3,h4,h5,h6,p,span,a{
    font-family: 'Roboto', sans-serif;
}


/* <<<<<<<<<<*Header_Section_Css*>>>>>>>>> */
.header__section {
	padding: 10px 0;
	background-color: #000;
  }
  .header__logo {
	width: 40%;
  }
  .header__logo img {
	width: 80px;
  }
  .header__menu {
	width: 60%;
  }
  .menu__list {
	list-style: none;
  }
  .menu__item {
	display: inline-block;
	padding: 15px 25px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
  }
  
  .menu__item:hover .drop__down {
	opacity: 1;
	visibility: visible;
	top: 119%;
  }
  .drop__down {
	position: absolute;
	top: 159%;
	left: -30px;
	width: 225px;
	background-color: #000;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	border-top: 3px solid #fff;
  }
  .drop__item {
	display: block;
	text-align: left;
	padding: 15px 25px;
  }
  .drop__link {
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border-bottom: 2px solid transparent;
  }
  .menu__link {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
  }
  .menu__link > span {
	font-size: 17px;
  }
  .drop__item:hover .drop__link {
	border-bottom: 2px solid #000;
	color: #000;
  }
  .drop__item:hover {
	background-color: #fff;
  }
  .menu__link:hover {
	border-bottom: 2px solid #fff;
  }
/* <<<<<<<<<<*Banner_Section_Html*>>>>>>>>>> */
.banner{
    background: url(https://i.postimg.cc/s2C15YPT/a0c6042d4612d7adf44692fffac7e082.jpg) no-repeat top center;
    padding: 150px 0;
    background-size: cover;
}
.banner-content{}
.banner-content h1 {
	color: #223127;
	font-size: 52px;
	font-weight: 900;
}
.banner-content p {
	margin: 20px 0;
	font-size: 25px;
	font-weight: 500;
}
.btn-1 {
	display: inline-block;
	border: 2px solid #ddd;
	padding: 20px 40px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	background-color: #000;
	border-radius: 15px;
	margin-right: 5px;

    transition: .4s;
}
.btn-1:hover{
    background-color: #fff;
    color: #000;
    border-color: #000;
}
.btn-2{
    display: inline-block;
	padding: 21px 42px;
	font-size: 15px;
	font-weight: 600;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	margin-left: 5px;

    transition: .4s;
}
.btn-2:hover{
    background-color: #000;
    color: #fff;
}


/* <<<<<<<<<<*About_Section_Html*>>>>>>>>>> */
.about {
	background-color: #87a471;
	padding-bottom: 50px;
}
.about h1 {
	display: inline-block;
	margin-top: 40px;
	color: #e8dfda;
	font-size: 50px;
	font-weight: 900;
	border-bottom: 3px solid #ddd;
	margin-bottom: 30px;
    padding-bottom: 8px;
	text-shadow: 3px 1px 5px rgb(168, 168, 168);
}
.about-left{
    width: 59%;
}
.about-left p {
	color: #fff;
	font-size: 17px;
	line-height: 25px;
	margin-top: 110px;
	margin-left: 101px;
}
.about-right{
    width: 40%;
}
.about-right img {
	height: 330px;
	width: auto;
}


/* <<<<<<<<<<*Service_Section_Css*>>>>>>>>>>> */
.service {
	background-color: #606a64;
	padding: 60px 0;
	height: 550px;
	width: 100%;
}
.service-top{}
.service-top h1 {
	display: inline-block;
	color: #e8dfda;
	font-size: 53px;
	font-weight: 900;
	text-shadow: 3px 1px 5px rgb(168, 168, 168);
	border-bottom: 3px solid #ddd;
	padding: 5px 20px;
}
.service-top h2 {
	font-size: 38px;
	color: #dfe0e1;
	padding: 22px 0;
}
.service-top p {
	width: 700px;
	margin: auto;
	color: #dfe0e1;
	font-size: 17px;
	line-height: 27px;
	padding-bottom: 75px;
}
.service-left {
	width: 30%;
	margin-right: 71px;
	background-color: #fff;
	padding: 25px 33px;
	box-sizing: border-box;
	border-radius: 20px;
}
.third {
	position: relative;
	top: -225px;
	left: 805px;
}
.img-icon {
	float: left;
	height: 175px;
	margin-right: 17px;
}

.img-icon img {
	float: left;
	height: 40px;
}
.icon-tall img{
	height: 50px;
}
.img-content{}
.img-content h3 {
	font-size: 24px;
	color: #50647a;
	margin-bottom: 20px;
}
.img-content p {
	font-size: 15px;
	color: #8f8f8f;
	line-height: 24px;
}


/* <<<<<<<<<<*Work*>>>>>>>>>> */
.work{
	background-color: #87a471;
	padding-bottom: 110px;
}
.work-top{

}
.work-top h1 {
	font-size: 40px;
	margin-left: -385px;
	display: inline-block;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 20px;
}
.work-top p {
	color: #e6e6e6;
	font-size: 18px;
	margin-left: 19px;
	padding-bottom: 50px;
}
.work-bottom{}
.w-left {
	width: 45%;
	height: 430px;
	border: 1px solid #ddd;
	margin-left: 35px;
}
.w-left img{
	height: 340px;
	width: 100%;
}
.w-left h3 {
	color: #556f82;
	margin-top: 17px;
	margin-bottom: 12px;
}
.w-left p{
	color: #fff;
}
.w-right {
	width: 45%;
	height: 430px;
	border: 1px solid #ddd;
	margin-right: 35px;
}
.w-right h3{
	color: #556f82;
	margin-top: 17px;
	margin-bottom: 12px;
}
.w-right p{
	color: #fff;
}

.work-images{}
.work-images img {
	height: 227px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 55px;
}


/* <<<<<<<<<<*Team_Members_Css*>>>>>>>>>> */
.team{
	background-color: #5b9776;
	padding-bottom: 35px;
}
.team-title{}
.team-title h1 {
	text-align: center;
	color: #fff;
	padding-top: 51px;
	font-size: 36px;
}
.line {
	height: 3px;
	width: 275px;
	background: #ddd;
	margin: auto;
	margin-top: 10px;
}
.team-members{}
.members {
	width: 28%;
	margin-left: 29px;
	margin-right: 29px;
	padding-top: 50px;
}
.members img{}
.m-icon {
	text-align: center;
	margin-top: 10px;
}
.m-icon span {
	color: #fff;
	font-size: 32px;
	margin-left: 5px;
	margin-right: 5px;
	transition: .3s;
}
.m-icon span:hover{
	color: #587489;
}


/* <<<<<<<<<<*Permation_Btn_CSS*>>>>>>>>>> */
.permation{
	background-color: #606a64;
	padding: 100px 0;
}
.permation-content{}
.permation-content h1 {
	color: #e4e6e8;
	font-size: 40px;
	padding-bottom: 20px;
}
.permation-content p {
	width: 700px;
	margin: auto;
	color: #e4e6e8;
	font-size: 18px;
	line-height: 26px;
}
.per-btn{
	margin-top: 25px;
}
.per-btn a {
	display: inline-block;
	color: #e4e6e8;
	background: #00bc9c;
	padding: 14px 45px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 5px;
}
.per-btn a:hover{
	transition: .4s;
	background-color: #3a5161;
}


/* <<<<<<<<<<*Footer_Section_Css*>>>>>>>>>> */
.footer{
	background-color: #000000;
	padding: 30px 0;
}
.footer p {
	color: #fff;
	font-size: 19px;
}